#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid-wrapper{
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
}
.cell{
  border: 2px solid black;
  padding: 20px;
}
.score{
  font-size: larger;
  font-weight: 400;
}
